//---------------------------------------------------------
//--- Font Family :: [GT America Compressed] :: Regular ---
//---------------------------------------------------------
@font-face {
    font-family: 'gt-america-compressed-regular';
    src: url('/assets/fonts/gt-america-compressed-regular.eot');
    src: url('/assets/fonts/gt-america-compressed-regular.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/gt-america-compressed-regular.woff2') format('woff2'),
         url('/assets/fonts/gt-america-compressed-regular.woff') format('woff'),
         url('/assets/fonts/gt-america-compressed-regular.ttf') format('truetype'),
         url('/assets/fonts/gt-america-compressed-regular.svg#gt_americacompressed_regular') format('svg');
    font-weight: normal;
    font-style: normal;

}
//---------------------------------------------------------
//--- Font Family :: [GT America Compressed] :: Bold ---
//---------------------------------------------------------
@font-face {
    font-family: 'gt-america-compressed-bold';
    src: url('/assets/fonts/gt-america-compressed-bold.eot');
    src: url('/assets/fonts/gt-america-compressed-bold.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/gt-america-compressed-bold.woff2') format('woff2'),
         url('/assets/fonts/gt-america-compressed-bold.woff') format('woff'),
         url('/assets/fonts/gt-america-compressed-bold.ttf') format('truetype'),
         url('/assets/fonts/gt-america-compressed-bold.svg#gt_americacompressed_bold') format('svg');
    font-weight: normal;
    font-style: normal;

}